.card-list {
  clear: both;
  margin-top: 3%;
}

.card-list .card {
  border-bottom: 1px solid $medium-gray;
}

.card-list .card {
  &:hover {background-color: $light-gray;}
  padding: 1.5% 1%;
  @include display(flex);
  color: $dark-gray;
  @include justify-content(space-between);
}

a.new-card-form-expander {
  float: right;
  display: inline-block;
}
