nav {
  margin-bottom: 3%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: $base-border;
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(baseline);
}

nav .user-menu .menu-item {
  margin-left: 5%;
}

nav .user-menu {
  @include flex-grow(2);
  @include display(flex);
  @include justify-content(flex-end);
}

nav .app-logo {
  @include flex-grow(1);
  font-size: 1.5em;
}
